In [ ]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [23]:
df = pd.read_csv("spotify_millsongdata.csv")

In [24]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [25]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [26]:
df.shape

(57650, 4)

In [27]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [28]:
df = df.sample(5000).drop( 'link' , axis=1 ).reset_index(drop = True )

In [29]:
df.head(5)

,artist,song,text
0,Janis Joplin,Flower In The Sun,Oh please don't you think baby that I am wrong...
1,Genesis,Am I Very Wrong?,Am I very wrong \r\nTo hide behind the glare ...
2,O.A.R.,City On Down,"Well, in the end my friend, \r\nWe will all b..."
3,Ween,Polka Dot Tail,Did you ever see a whale with a polka dot tail...
4,Elvis Costello,High Fidelity,Some things you never get used to \r\nEven th...

In [30]:
df.tail(5)

,artist,song,text
4995,Chicago,Gone Long Gone,I thought for the rest of my life \r\nYou'd s...
4996,Quiet Riot,Scream And Shout,Yeah \r\nAll right \r\nOh yeah \r\n \r\nOh...
4997,Face To Face,Planet Of Sound,One fine day in my odd past \r\nI picked me u...
4998,Van Morrison,Green Mansions,"Green mansions, high upon a hill \r\nGreen ma..."
4999,George Strait,I Got A Car,She was leaning on a rail in a cotton dress \...

In [31]:
df['text'][0]

"Oh please don't you think baby that I am wrong to cry, yeah.  \r\nYou loved me, too,  \r\nSo how come you just sit there and laugh  \r\nAnd laugh and laugh and laugh?  \r\nThings just can't be this way  \r\nAnd not for very long  \r\nNo no no no no no no no no no no no no no.  \r\nOur love affair said it's just history, yes it is.  \r\n  \r\nAnd I tried to love you in my own way,  \r\nI think that you know I did.  \r\nBut to have you here, to see you living,  \r\nOh so near to me, yeah, yeah, yeah.  \r\nOh but you are distant and so it's dead  \r\nAnd so often people are glad to be old, yeah yeah,  \r\nOur love affair is just history, yes it is.  \r\n  \r\nOnce in a green time a flower  \r\nOh, fell in love with the sun.  \r\nThe passion lasted for an hour  \r\nAnd then she wilted from her loved one.  \r\n  \r\nOnce in a green time a flower  \r\nOh, fell in love with the sun.  \r\nThe passion lasted for an hour  \r\nAnd then she wilted from her loved one.  \r\n  \r\nAnd I see you looking up at the sky, how high it is, yeah.  \r\nYou wonder if there is, whoa another me  \r\nNow how can that be, how can it be?  \r\nWell, I sit here and I ask you, why all this?  \r\nI just got toni-ni-ni-night  \r\nOur love affair said it's just a history  \r\nBut baby, baby, I said it's over, Charlie,  \r\nI can't stand another lo-lo-lonely,  \r\nI'm never too lonely.  \r\n  \r\nIt's over baby,  \r\nWhere were you when I wanted ya  \r\nAnd needed ya right by my side?  \r\nI said-a, baby, baby, don't you feel me moving,  \r\nBaby, don't you hear me cry ?  \r\nI know I hurt you, but Lord don't you know I cried,  \r\nI know I hurt you, but babe don't you know I tried,  \r\nOh baby, oh babe, whoa.\r\n\r\n"

In [32]:
df.shape

(5000, 3)

In [33]:
df['text'].str.lower().replace(r'\w\s',' ').replace(r'\n',' ',regex=True)

0       oh please don't you think baby that i am wrong...
1       am i very wrong  \r to hide behind the glare o...
2       well, in the end my friend,  \r we will all be...
3       did you ever see a whale with a polka dot tail...
4       some things you never get used to  \r even tho...
                              ...
4995    i thought for the rest of my life  \r you'd se...
4996    yeah  \r all right  \r oh yeah  \r   \r oh, co...
4997    one fine day in my odd past  \r i picked me up...
4998    green mansions, high upon a hill  \r green man...
4999    she was leaning on a rail in a cotton dress  \...
Name: text, Length: 5000, dtype: object

In [34]:
df.tail(5)

,artist,song,text
4995,Chicago,Gone Long Gone,I thought for the rest of my life \r\nYou'd s...
4996,Quiet Riot,Scream And Shout,Yeah \r\nAll right \r\nOh yeah \r\n \r\nOh...
4997,Face To Face,Planet Of Sound,One fine day in my odd past \r\nI picked me u...
4998,Van Morrison,Green Mansions,"Green mansions, high upon a hill \r\nGreen ma..."
4999,George Strait,I Got A Car,She was leaning on a rail in a cotton dress \...

In [35]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/kalppatel/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [36]:
stemmer = PorterStemmer()

In [37]:
def token(text):
    token = nltk.word_tokenize(text)
    result = []
    for w in token:
        result.append(stemmer.stem(w))
    a = result
    return " ".join(a)

In [38]:
print(token("you are lovely ,love"))
print(token("you are beauty , beautiful"))

you are love , love
you are beauti , beauti

In [39]:
result = []
for x in df['text']:
    result.append(token(x))
df['text'] = result
df['text']

0       oh pleas do n't you think babi that i am wrong...
1       am i veri wrong to hide behind the glare of an...
2       well , in the end my friend , we will all be t...
3       did you ever see a whale with a polka dot tail...
4       some thing you never get use to even though yo...
                              ...
4995    i thought for the rest of my life you 'd see m...
4996    yeah all right oh yeah oh , come on boy your l...
4997    one fine day in my odd past i pick me up a tra...
4998    green mansion , high upon a hill green mansion...
4999    she wa lean on a rail in a cotton dress summer...
Name: text, Length: 5000, dtype: object

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
tfid = TfidfVectorizer(analyzer = 'word' , stop_words = 'english')

In [ ]:
matrix = tfid.fit_transform(df['text'])

In [ ]:
similar = cosine_similarity(matrix)

In [44]:
similar[0]

array([1.        , 0.05881764, 0.06735106, ..., 0.0214446 , 0.12770393,
       0.16542675])

In [45]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distances = similar[idx]
    sorted_indices = sorted(list(enumerate(distances)), key=lambda x: x[1], reverse=True)
    
    recommended_songs = []
    for i in sorted_indices[1:6]:
        recommended_songs.append(df.iloc[i[0]].song)
    
    return recommended_songs

In [47]:
recommender('Gone Long Gone')

["My Baby's Gone",
 'All The Beautiful Things',
 'Redondo Beach',
 'Dead Man Walking',
 'Gone']

In [48]:
import pickle
pickle.dump(similar,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))